@charset "UTF-8";
/* CSS Document */

/*div.container {
}*/

html, body {
  background-image: url('/images/rumsey-map-edit.jpg');
  background-attachment: fixed;
}

#candidates {
  background: #eee;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
}

div.candidate {
  /*border: 1px solid gray;*/
  padding: 5px;
}

div.candidate img.portrait {
  width: 200px;
  padding-bottom: 10px;
  opacity: 1;
}

.can1 div.contact, #can1 h1, #can1 h2, #can1 h3{
  text-align: left;
}

div.contact {
  clear: both;
}

.can2 div.contact {
  text-align: right;
}

.can2 h1 {
  text-align: right;
}

/* candidate name, overrides bootstrap */ 
div.can1 h2.name {
    font-size: 30px;
    font-weight: bold;
    color: #404040;
    text-align:left;
    font-family: Arial, Helvetica;
}

/* candidate name, overrides bootstrap */ 
div.can2 h2.name {
    font-size: 30px;
    font-weight: bold;
    color: #404040;
    text-align:right;
    font-family: Arial, Helvetica;
}

.can1 img.portrait {
  float:left;
  padding-right: 10px;
}

.can1 span {
  float:left;
}

#news div.story {
  background: white;
  padding: 4px;
  /* margin: -4px;
  margin-bottom: 16px; 
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15); */
  border-bottom: 1px solid rgba(0,0,0,.15);
}

#news h2 {
  font-size: 30px;
  line-height: 20px;
  margin: 10px 0px 10px 0px;
  font-family: Arial, Helvetica;
}

#news div.story h3 {
  font-size: 110%;
  line-height: 20px;
  margin: 8px 0px;
  font-family: Arial, Helvetica;
}

#news div.story p {
  font-size: 90%;
  font-family: Arial, Helvetica;
}

#news div.story p.source {
  font-size: 80%;
  font-family: Arial, Helvetica;
  text-transform:uppercase;
}

.can2 img.portrait {
  float: right;
  padding-left: 10px;
}

.can2 span {
    float:right;
}
    
.can2 img.incumbent {
  float:right;
}

.position .name {
  width: 430px;
}

.position {
  padding: 40px 0px;
  line-height: 45px;
  vertical-align: middle;
  height: 40px;
  display: block;
  font-size: 200%;
}

a.position {
  text-decoration: none;
}

a.position:hover {
  text-decoration: none;
}

ul.tabs {
  margin: 0 0 0px;
  border-bottom: 3px solid #dccbb5;
}

.position .right {
  text-align: left;
  float: right;
  padding-left: 10px;
}

.position .left {
  text-align: right;
  float: left;
  padding-right: 10px;
}

.position .number {
  width: 50px;
  margin: auto;
  text-align: center;
  font-size: 400%;
}

#news {
  margin-top: 0px;
  text-align: left;
}

.collapse-expand {
  height: 20px;
  text-align: center;
  background-color: #eee;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
/*  background-image: url('/images/chevUp.png'); */
}

.collapse-expand:hover {
  background: rgba(0, 105, 214, 0.6);
/*  background-image: url('/images/chevUp.png'); */
}

.feeds div div{
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0.6); */
  padding: 5px;
  margin-bottom: 10px;
  /* background: white;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
  border-bottom: 1px solid rgba(0,0,0,.15);

}

.container {
  width: 970px;
}

.content {
  background: rgba(255,255,255,.7);
  padding: 20px;
  margin: -5px;
  margin-top: 60px;
  -webkit-border-radius: 0 0 6px 6px;
   -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

div.socialmedia {
  border-top: none;
}

div.tab-content {
  clear:both;
  border-right: 3px solid #dccbb5;
  border-left: 3px solid #dccbb5;
  background: rgba(0,0,0,1);
}

.tabs > li > a {
  border: 3px solid #dccbb5;
  border-bottom: none;
}

.tabs > li.active > a {
  border: 3px solid #dccbb5;
  border-bottom: none;
}

.tabs >li > a:hover {
  background-color: #dccbb5;
  border-color: #dccbb5;
}

div.active {
  background: rgba(255,255,255,1);
  background-color: rgba(255,255,255,1);
}

/*

div.news{
  background-color:yellow;
  border-style:solid;
  border-color:black;
  border-width:5px;
  padding:15px;
}

*/

.source {
  color: #868686;
}

.patriotic {
  background-image: url(http://www.octaxcol.com/images/flagwave1.gif);
}

div.expanded {
/*  background-image: url('/images/chevUp.png'); */
    background: green;
}
  
div.collapsed {
/*  background-image: url('/images/chevUp.png');*/
  background: red;
}

div.post {
  color: black;
}
