@charset "UTF-8";
/* CSS Document */

/*div.container {
}*/

html, body {
  background-image: url('/images/whitey.png');
}

div.candidate {
  /*border: 1px solid gray;*/
  padding: 5px;
}

div.candidate img.portrait {
  width: 200px;
  padding-bottom: 10px;
}

.can1 div.contact, #can1 h1, #can1 h2, #can1 h3{
  text-align: left;
}

div.contact {
  clear: both;
}

.can2 div.contact {
  text-align: right;
}

.can2 h1 {
  text-align: right;
}

.can1 img.portrait {
  float:left;
  padding-right: 10px;
}

.can1 img.incumbent {
  float:left;
}

#news div.story {
  background: #eee;
  padding: 4px;
  margin: -4px;
  margin-bottom: 16px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#news div.story h3 {
  font-size: 110%;
  line-height: 20px;
  margin: 8px 0px;
}

#news div.story p {
  font-size: 90%;
}

.can2 img.portrait {
  float: right;
  padding-left: 10px;
}

.can2 img.incumbent {
  float:right;
}

.position .name {
  width: 430px;
}

.position {
  padding: 40px 0px;
  line-height: 45px;
  vertical-align: middle;
  height: 40px;
  display: block;
  font-size: 200%;
}

a.position {
  text-decoration: none;
}

a.position:hover {
  text-decoration: none;
}

.position .right {
  text-align: left;
  float: right;
  padding-left: 10px;
}

.position .left {
  text-align: right;
  float: left;
  padding-right: 10px;
}

.position .number {
  width: 50px;
  margin: auto;
  text-align: center;
  font-size: 400%;
}

#news {
  margin-top: 0px;
  text-align: left;
}

.collapse-expand {
  height: 20px;
  text-align: center;
  background-color: #eee;
}

.collapse-expand:hover {
  background: rgba(0, 105, 214, 0.6);
}

.feeds div div{
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0.6);*/
  padding: 5px;
  margin-bottom: 16px;
  background: #eee;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);

}

.content {
  background: rgba(255,255,255,0.8);
  padding: 5px;
  margin: -5px;
  margin-top: 50px;
  -webkit-border-radius: 0 0 6px 6px;
   -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

div.socialmedia {
  clear:both;
}

/*div.news{
  background-color:yellow;
  border-style:solid;
  border-color:black;
  border-width:5px;
  padding:15px;
}*/

.source {
color: #868686;
}
